In [1]:
import graphlab as gl

In [2]:
g = gl.SGraph()

2016-03-22 15:00:27,649 [INFO] graphlab.cython.cy_server, 176: GraphLab Create v1.8.5 started. Logging: /tmp/graphlab_server_1458673226.log

This non-commercial license of GraphLab Create is assigned to zfm2@duke.edu and will expire on March 22, 2017. For commercial licensing options, visit https://dato.com/buy/.

In [3]:
verts = [
    gl.Vertex(0, attr={'breed': 'labrador'}),
    gl.Vertex(1, attr={'breed': 'labrador'}),
    gl.Vertex(2, attr={'breed': 'vizsla'})
]

In [4]:
g = g.add_vertices(verts)

In [6]:
g = g.add_edges(gl.Edge(1,2))

In [7]:
print g

SGraph({'num_edges': 1, 'num_vertices': 3})

### Making a graph from example data

In [8]:
edge_data = gl.SFrame.read_csv(
    'http://s3.amazonaws.com/dato-datasets/bond/bond_edges.csv')

Downloading http://s3.amazonaws.com/dato-datasets/bond/bond_edges.csv to /var/tmp/graphlab-Zachary/5688/0e1625ea-a779-4d88-b968-3da790790ba7.csv

Finished parsing file http://s3.amazonaws.com/dato-datasets/bond/bond_edges.csv

Parsing completed. Parsed 20 lines in 0.027219 secs.

------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[str,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file http://s3.amazonaws.com/dato-datasets/bond/bond_edges.csv

Parsing completed. Parsed 20 lines in 0.009796 secs.

In [9]:
edge_data

Columns:
	src	str
	dst	str
	relation	str

Rows: 20

Data:
+----------------+------------+------------+
|      src       |    dst     |  relation  |
+----------------+------------+------------+
|    Wai Lin     | James Bond |   friend   |
|       M        | James Bond |  worksfor  |
| Inga Bergstorm | James Bond |   friend   |
| Elliot Carver  | James Bond | killed_by  |
|   Gotz Otto    | James Bond | killed_by  |
|   James Bond   |     M      | managed_by |
|       Q        |     M      | managed_by |
|   Moneypenny   |     M      | managed_by |
|       Q        | Moneypenny | colleague  |
|       M        | Moneypenny |  worksfor  |
+----------------+------------+------------+
[20 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [17]:
vertex_data = gl.SFrame.read_csv(
    'http://s3.amazonaws.com/dato-datasets/bond/bond_vertices.csv')

Downloading http://s3.amazonaws.com/dato-datasets/bond/bond_vertices.csv to /var/tmp/graphlab-Zachary/5688/96de9807-f7b9-49ac-a08e-9d82427101c4.csv

Finished parsing file http://s3.amazonaws.com/dato-datasets/bond/bond_vertices.csv

Parsing completed. Parsed 10 lines in 0.025071 secs.

------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[str,str,int,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file http://s3.amazonaws.com/dato-datasets/bond/bond_vertices.csv

Parsing completed. Parsed 10 lines in 0.009305 secs.

In [19]:
vertex_data

Columns:
	name	str
	gender	str
	license_to_kill	int
	villian	int

Rows: 10

Data:
+----------------+--------+-----------------+---------+
|      name      | gender | license_to_kill | villian |
+----------------+--------+-----------------+---------+
|   James Bond   |   M    |        1        |    0    |
|       M        |   M    |        1        |    0    |
|   Moneypenny   |   F    |        1        |    0    |
|       Q        |   M    |        1        |    0    |
|    Wai Lin     |   F    |        1        |    0    |
| Inga Bergstorm |   F    |        0        |    0    |
| Elliot Carver  |   M    |        0        |    1    |
|  Paris Carver  |   F    |        0        |    1    |
|   Gotz Otto    |   M    |        0        |    1    |
|  Henry Gupta   |   M    |        0        |    1    |
+----------------+--------+-----------------+---------+
[10 rows x 4 columns]

In [20]:
g = gl.SGraph(vertices=vertex_data, edges=edge_data, vid_field='name',
           src_field='src', dst_field='dst')

In [21]:
print g

SGraph({'num_edges': 20, 'num_vertices': 10})

In [22]:
g.show(vlabel='id', highlight=['James Bond', 'Moneypenny'], arrows=True)

Canvas is accessible via web browser at the URL: http://localhost:52872/index.html
Opening Canvas in default web browser.

In [23]:
print g.summary()

{'num_edges': 20, 'num_vertices': 10}

### Get all bond verts

In [24]:
sub_verts = g.get_vertices(ids=['James Bond'])

In [25]:
sub_verts

Columns:
	__id	str
	gender	str
	license_to_kill	int
	villian	int

Rows: 1

Data:
+------------+--------+-----------------+---------+
|    __id    | gender | license_to_kill | villian |
+------------+--------+-----------------+---------+
| James Bond |   M    |        1        |    0    |
+------------+--------+-----------------+---------+
[1 rows x 4 columns]

In [26]:
sub_edges = g.get_edges(fields={'relation': 'worksfor'})

In [28]:
sub_edges

Columns:
	__src_id	str
	__dst_id	str
	relation	str

Rows: 5

Data:
+---------------+-------------+----------+
|    __src_id   |   __dst_id  | relation |
+---------------+-------------+----------+
|       M       |  Moneypenny | worksfor |
|       M       |  James Bond | worksfor |
|       M       |      Q      | worksfor |
| Elliot Carver | Henry Gupta | worksfor |
| Elliot Carver |  Gotz Otto  | worksfor |
+---------------+-------------+----------+
[5 rows x 3 columns]

### Get all people in neighborhood of bond and moneypenny

In [29]:
targets = ['James Bond', 'Moneypenny']
subgraph = g.get_neighborhood(ids=targets, radius=1, full_subgraph=True)
subgraph.show(vlabel='id', highlight=['James Bond', 'Moneypenny'], arrows=True)

Canvas is updated and available in a tab in the default browser.

### Modify edges of the graph

In [30]:
g.edges['relation'] = g.edges['relation'].apply(lambda x: x[0].upper())
g.get_edges().print_rows(5)

+----------------+----------------+----------+
|    __src_id    |    __dst_id    | relation |
+----------------+----------------+----------+
|   Moneypenny   |       Q        |    C     |
|   Moneypenny   |       M        |    M     |
| Inga Bergstorm |   James Bond   |    F     |
|  Henry Gupta   | Elliot Carver  |    K     |
|   James Bond   | Inga Bergstorm |    F     |
+----------------+----------------+----------+
[20 rows x 3 columns]

### Compute the degree of each vertex

In [31]:
def increment_degree(src, edge, dst):
    src['degree'] += 1
    dst['degree'] += 1
    return (src, edge, dst)

In [32]:
g.vertices['degree'] = 0

In [33]:
g = g.triple_apply(increment_degree, mutated_fields=['degree'])
print g.vertices.sort('degree', ascending=False)

+----------------+--------+-----------------+---------+--------+
|      __id      | gender | license_to_kill | villian | degree |
+----------------+--------+-----------------+---------+--------+
|   James Bond   |   M    |        1        |    0    |   8    |
| Elliot Carver  |   M    |        0        |    1    |   7    |
|       M        |   M    |        1        |    0    |   6    |
|   Moneypenny   |   F    |        1        |    0    |   4    |
|       Q        |   M    |        1        |    0    |   4    |
|  Paris Carver  |   F    |        0        |    1    |   3    |
| Inga Bergstorm |   F    |        0        |    0    |   2    |
|    Wai Lin     |   F    |        1        |    0    |   2    |
|  Henry Gupta   |   M    |        0        |    1    |   2    |
|   Gotz Otto    |   M    |        0        |    1    |   2    |
+----------------+--------+-----------------+---------+--------+
[10 rows x 5 columns]